body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

H1 {
    margin: 2rem auto;
}

#calculator {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 56%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    height: 32rem;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 81%);
    color: rgb(53, 53, 53);
}

#keys {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 70%);
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

.operator-btn {
    background-color: hsl(300, 40%, 22%);
}

.operator-btn:hover {
    background-color: hsl(35, 100%, 65%);
}

.operator-btn:active {
    background-color: hsl(35, 100%, 75%);
}

/* media Q  */

@media only screen and (max-width:480px) {
    body {

        height: 29rem
    }

    h1 {
        margin: 2rem;
        font-size: 1.2rem;
        text-align: center;

    }

    #calculator {
        font-family: Arial, sans-serif;
        background-color: hsl(0, 0%, 56%);
        border-radius: 15px;
        max-width: 22rem;
        overflow: hidden;
        position: relative;
        height: 32rem;
    }

    #display {
        height: 4.5rem;
        width: 100%;
        padding: 10px;
        font-size: 3rem;
        text-align: left;
        border: none;
        background-color: hsl(0, 0%, 81%);
        color: rgb(53, 53, 53);
    }

    #keys {
        margin: 1rem;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(4, 12fr);
        gap: 15px;
        padding: 5px;
    }

    button {
        width: 60px;
        height: 60px;
        border-radius: 10px;
        border: none;
        background-color: hsl(0, 0%, 70%);
        color: rgb(0, 0, 0);
        font-size: 3rem;
        font-weight: bold;
        cursor: pointer;
    }

    footer {
        display: none;

    }
}

@media only screen and (max-width:768px) {
    body {
        color: #fff;
        height: 29rem;
        background-color: rgb(75, 52, 74);
    }

    h1 {
        margin: 1rem;
        font-size: 1.2rem;
        text-align: center;

    }

    #calculator {
        font-family: Arial, sans-serif;
        background-color: hsl(0, 0%, 56%);
        border-radius: 15px;
        max-width: 17rem;
        overflow: hidden;
        position: relative;
        height: 28rem;
    }

    #display {
        height: 3.5rem;
        width: 100%;
        padding: 10px;
        font-size: 3rem;
        text-align: left;
        border: none;
        background-color: hsl(0, 0%, 81%);
        color: rgb(53, 53, 53);
    }

    #keys {
        margin: 1rem;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(4, 12fr);
        gap: 5px;
        padding: 5px;
    }

    button {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        border: none;
        background-color: hsl(0, 0%, 70%);
        color: rgb(0, 0, 0);
        font-size: 3rem;
        font-weight: bold;
        cursor: pointer;
    }


    footer {
        display: none;

    }
}